:root {
    --cor-primaria: #F8F2EB; 
    --cor-secundaria: #CD3528; 
    --cor-painel: #FDFCFC; 
    --cor-texto-claro: #9e8873;
    --cor-texto-escuro: #444;
    --cor-borda-input: #999; 

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

header {
  background-color: var(--cor-painel);
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.link-usuario {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-weight: 700;
  padding: 8px 0px;
  margin-right: 25px;
}
.link-usuario:hover {
  border-bottom: 3px solid var(--cor-secundaria);
}
.logo {
  font-size: 1.8em;
  font-weight: 700;
  color: var(--cor-button);
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.painel_adm_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px 0;
}

.painel_Adm {
    width: 100%;
    max-width: 600px;
    background-color: var(--cor-painel);
    border-radius: 8px;    
    border: 1px solid #E0D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.descricao_item_cardapio {
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: 2px solid #777;
    padding-bottom: 15px;
    width: 100%;
}
.descricao_titulo_painel {
    text-align: center;
    margin: 30px 0;
    font-size: larger;
}

.titulo_painel { 
    font-size: 2.5em;
    font-weight: 600;
    color: var(--cor-secundaria);
    margin-bottom: 5px;
    margin-bottom: 20px;
}

.parag_painel {
    font-size: 1.1em;
    color: var(--cor-texto-claro);
    margin-bottom: 70px;
}

.form_cardapio {
    background-color: var(--cor-painel);
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #E0D9D9;
}

.titulo_cardapio {
    font-size: 1.5em;
    color: var(--cor-texto-escuro);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #777;
    padding-bottom: 15px;
}

.titulo_cardapio img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
   
}

.items_cardapio {
    margin-bottom: 20px;
}

.items_paragrafo {
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--cor-texto-escuro);
}

.items_input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-borda-input);
    background-color: #eeeeee;
    color: var(--cor-texto-claro);
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s;
}

.items_input:focus {
    border-color: var(--cor-secundaria);
    outline: none;
}

select.items_input {
    appearance: none; 
    cursor: pointer;
}

#adicionar {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: transform 0.2s, background-color 0.3s;
}
