:root {
    --cor-primaria: #F3ECE4; 
    --cor-secundaria: #ffdd57; 
    --cor-terciaria: #CA3022;
    --cor-texto: #333; 
    --cor-painel: #FDFCFB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../imgs/vitor-monthay-8DcjZWBPHb4-unsplash\ \(1\).jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: var(--cor-texto-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-container {
    background-color: #3333335d; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-top: 5px solid var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 2em;
    font-weight: 700;
    color: var(--cor-terciaria);
    letter-spacing: 2px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 7px ;
    text-align: center;
    
}

.login-container h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: var(--cor-primaria);
    font-weight: 400;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: var(--cor-primaria);
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--cor-secundaria);
    background-color: transparent;
    color: var(--cor-texto-claro);
    border-radius: 4px;
    transition: border-color 0.3s;
    font-size: 1em;
}

.input-group input:focus {
    border-color: var(--cor-terciaria);
    outline: none;
}

.btn-login {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
    ;
}

.btn-login:hover {
    transform: translateY(-2px);
}

.back-link {
    margin-top: 25px;
    color: var(--cor-primaria);
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s;
}

.back-link:hover {
    color: var(--cor-secundaria);
}