:root {
    --cor-fundo: #F3ECE4; 
    --cor-primaria: #F8C659; 
    --cor-secundaria: #FDFCFB; 
    --cor-button: #CA3022;
    --color-text: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-claro);
}

header {
    background-color: var(--cor-secundaria);
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--cor-secundaria);
}

.logo {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--cor-button);
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-link {
    color: var(--cor-button);
    text-decoration: none;
    font-weight: 700;
    padding: 8px 15px;
    border: 1px solid var(--cor-button);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.admin-link:hover {
    background-color: var(--cor-button);
    color: var(--cor-secundaria);
}


.hero {
    background: url('../imgs/stanley-kustamin-egC8A3EWFms-unsplash.jpg') no-repeat center center/cover; 
    text-align: center;
    padding: 100px 5%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.hero * {
    z-index: 2; 
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: var(--cor-secundaria);
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    max-width: 600px;
    color: var(--cor-secundaria)
}

.btn-cardapio {
    display: inline-block; 
    transform-origin: center;
    transition: transform 0.22s ease; 
    background-color: var(--cor-button);
    color: var(--cor-fundo);
    padding: 12px 30px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    font-size: .9em;
}

.btn-cardapio:hover {
    transform: scale(1.10); 
}
.secundario {
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
    color: var(--cor-primaria);
    margin-left: 15px;
}
.cardapio-preview {
    padding: 50px 5%;
    text-align: center;
    background-color: var(--cor-fundo) ;
}

.cardapio-preview h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: var(--cor-);
    text-transform: uppercase;
    color: var(--color-text);
}

.cardapio-itens {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.item {
    background-color: var(--cor-secundaria);
    padding: 25px;
    border-radius: 8px;
    width: 300px; 
    text-align: left;
    border-top: 3px solid var(--cor-button);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.item h3 {
    color: var(--cor-button);
    margin-bottom: 5px;
}

.cta-completo {
    font-size: 1.1em;
}

footer {
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    border-top: 1px solid var(--cor-button);
}